<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Scamelot</title>
</head>
<body>
    <header>
        <h1>Scamelot</h1>
    </header>
    <main>
        <section id="top"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos corporis molestiae hic possimus fugit quisquam ea amet eius nostrum, ratione voluptates minima adipisci cum delectus optio velit quo ab. Odio.</p></section>
    </main>
</body>
<script src="./js/main.js"></script>
</html>