extends layout

block content
  link(rel="shortcut icon", href="../images/favicon.ico", type="image/x-icon")
  h1= title
  p Welcome to #{title}
  #top
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti cupiditate veritatis eaque perferendis animi. Voluptatem totam, neque minus corporis repellendus accusamus repudiandae. Error tenetur dolores hic, architecto accusantium odit repudiandae.
    div
      span test 1
    div
      span test 2
    div
      span test 3   

  h3 More Content Here
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit architecto exercitationem rem eum obcaecati nesciunt sequi rerum. Sapiente officiis at hic, eveniet voluptas reiciendis quos explicabo voluptatem nobis alias dolores.
  div 
    img(src="../images/1.jpg", alt="1")
  div
    img(src="../images/2.jpg", alt="2") 